$base-color--background: #eae7dc;
$base-color--beige: #d8c3a5;
$base-color--light-grey: #8e8d8a;
$base-color--strong-grey: #5f5f5d;
$base-color--light-red: #e98074;
$base-color--strong-red: #e85a4f;


