@import "_variables.scss";

.advert-description-container {
    padding: 30px;
}

#advert-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#advert-description-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

#description-column {
    grid-column-start: 1;
    grid-column-end: 2;
    border-top: 1px solid $base-color--strong-red;
    padding-top: 30px;
    margin-top: 30px;
}

.lead {
    white-space: pre-wrap;
}

#profile-preview-column {
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 30px;
}

.profile-preview__picture {
    width: 100px;
    height: 100px;
    overflow:hidden;
    border: 1px solid $base-color--strong-grey;
    border-radius: 50%;
}

.profile-preview__picture img {
    width: auto;
    height: 100px;
  }

#profile-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    border-top: 1px solid $base-color--strong-grey;
    border-bottom: 1px solid $base-color--strong-grey;
    width: 140px;
    min-height: 310px;
}

#profile-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-preview__name {
    margin-top: 20px;
}

#key-info-column {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 24px;
    font-weight: 300;
    line-height: 2.5rem;
    font-size: 1rem;
}

#key-info {
    border-left: 1px solid #e85a4f;
    margin-top: 6px;
    padding-left: 30px;
}
  
#key-info-container {
    padding: 20px 0px;
    border-top: 1px solid #5f5f5d;
    border-bottom: 1px solid #5f5f5d;
    width: 140px;
}

#key-info__tech-stack {
    line-height: 1rem;
}
  
#key-info__tech-stack ul {
    margin-bottom: 8px;
}

.advert-description-button {
    margin-top: 18px;
    font-size: 14px;
    height: 40px;
    width: 120px;
}
  

