@import "_variables.scss";

.multiselect__select {
    color: red !important;
}

.multiselect__placeholder {
    color: #8e8d8a !important;
}

.multiselect__option--selected {
    background: white !important;
    color: black !important;
}

.multiselect__option--highlight {
    background: #e98074 !important;
}

.multiselect__option--highlight::after {
    background: #e98074 !important;
}

.multiselect__tags {
    border: 1px solid #8e8d8a !important;
}



