#profile-description__main-bootstrap-container {
    margin-top: 50px !important;
}

#profile-description__content-container {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    font-weight: 300;
}

#profile-description__upper-level {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 30px;
}

#profile-description__name {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-description__picture-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-description__picture-shape {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid $base-color--strong-grey;
    border-radius: 50%;
}

#profile-description__profile-picture {
    width: auto;
    height: 200px;
}

#profile-description__description-level {
    border-top: 1px solid $base-color--strong-grey;
    padding: 30px;
    width: 100%;
}

#profile-description__description {
    font-size: 1.2em;
    margin: 20px;
}

#profile-description__detail-level {
    column-count: 2;
    column-gap: 1em;
    border-top: 1px solid $base-color--strong-grey;
    padding: 30px;
}

.profile-description__detail-element-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.profile-description__detail-element-title {
    text-decoration: underline;
    font-weight: 450;
}

#profile-description__contact-info {
    border-top: 1px solid $base-color--strong-grey;
    padding: 20px;
}

