#profile-modification__main-bootstrap-container {
    margin-top: 50px !important;
    
}

#profile-modification__content-container {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    font-weight: 300;
    background: white;
    margin: 0px 90px;    
}

#profile-modification__upper-level {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 30px;

}

#profile-modification__name {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile-modification__username-entry {
    display: flex;
    justify-content: center;
}

#profile-modification__picture-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-modification__picture-shape {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid $base-color--strong-grey;
    border-radius: 50%;
}

#profile-modification__profile-picture {
    width: auto;
    height: 200px;
}

#profile-modification__picture-edit-button-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: relative;
}

.profile-modification__picture-edit-button {
    height: 45px;
    width: 100px;
    margin-bottom: 10px;
}

.button-loader {
    height: 30px;
    width: 30px;
}

#profile-modification__image-upload-info {
    position: absolute;
    top: 105px;
    left: 9px;
    font-size: 10px;
    color: green;
}

#profile-modification__description-level {
    border-top: 1px solid $base-color--strong-grey;
    padding: 30px;
    width: 100%;
}

#profile-modification__description {
    font-size: 1.2em;
    margin: 20px;
}

#profile-modification__detail-level {
    border-top: 1px solid $base-color--strong-grey;
    padding: 30px;
}

.profile-modification__detail-element-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.profile-modification__detail-element-title {
    display: inline-block;
    text-decoration: underline;
    font-weight: 450;
    margin-bottom: 5px;
}

#profile-modification__contact-level {
    border-top: 1px solid $base-color--strong-grey;
    padding: 30px;
}

#profile-modification__contact-info {
    border-top: 1px solid $base-color--strong-grey;
    padding: 20px;
}

